// stilen på error meddelande, testa skriva någon sökterm som man inte får
// resultat på eller koppla bort wifi för att testa error meddelanden

.errorList {
  display: block;

  .error {
    background-color: $alert;
    padding: 1rem;
    margin-bottom: 1rem;
    animation: shake .6s cubic-bezier(.36,.07,.19,.97) both;
    display: flex;
    overflow: hidden;

    .text {
      flex-grow: 1;
      color: $white;
    }
    .close {
      flex-grow: 0;
      cursor: pointer;
      color: $white;

      &:hover {
        color: darken($white, 6);
      }
    }
  }

  .error-enter, .error-leave.error-leave-active {
    height: 0;
    margin: 0;
    padding: 0 1rem;
  }

  .error-enter.error-enter-active {
    height: auto;
    margin-bottom: 1rem;
    padding: 1rem;
    transition: all .2s ease-in;
  }

  .error-leave {
    height: auto;
    margin-bottom: 1rem;
    padding: 1rem;
    &.error-leave-active {
      transition: all .2s ease-in;
    }
  }
}

// skakanimationen till errors
@keyframes shake {
  10%, 90% {
    transform: translate(-2px, 0);
  }

  20%, 80% {
    transform: translate(5px, 0);
  }

  30%, 50%, 70% {
    transform: translate(-8px, 0);
  }

  40%, 60% {
    transform: translate(8px, 0);
  }
}
