// alla färger som används är sparade i variabler här under.
$white: #fefefe;
$gray: #888888;
$black: #0a0a0a;
$alert: #ee0022;

$accent: #EB7F00;
$light: #F3FFE2;
$mediumLight: #ACF0F2;
$mediumDark: #1695A3;
$dark: #225378;

// default stil som gäller alla element
*{
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  color: $black;
}

// importerar övriga scss-filer
@import '_components.scss';
@import '_game.scss';
@import '_error.scss';

// importerar en font från google fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

body{
  background-color: $light;
  margin: 0;
}

code{
  font-family: Consolas, Monaco, 'Courier New';
  background-color: darken($light, 6);
  padding: 0 .4rem;
  border-radius: 3px;
  white-space: nowrap;
}

input, select{
  padding: 0.5rem;
  width: 12rem;
  background-color: $white;
  border: $gray 1px solid;
  outline: none;

  &:focus{
    border-color: $accent;
  }
}

label{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;

  & > *{
    display: block;
  }

  span{
    flex-grow: 1;
    color: $black;
  }
}

.pageContainer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.container-24 {
  width: 24rem;
  margin: 0 1rem;
}

.container-40 {
  width: 40rem;
  margin: 0 1rem;
}
